body {
  background: lightblue;
}
p {
  color:white;
}
h1 {
  font-weight:bold ;
  font-family:cursive
}

h1 {
  color:white;
}

  img {
  height:125px
  }

h2 {
  color:white;
}

li{ 
  color:white;
